.clearParent {
  position: absolute;
  top: 3.9px;
  left: 80px;
}

.clearImg {
  cursor: pointer;
  width: 35px;
}
.clearImg:hover {
  transform: scale(1.1);
}

.clearAllGiftsParent {
  position: absolute;
  top: 2.5px;
  left: 135px;
}

.clearAllGiftsParent img {
  cursor: pointer;
  width: 33px;
}
.clearAllGiftsParent img:hover {
  transform: scale(1.1);
}
