.giftParent {
  position: relative;
  width: 50%;
  height: 100%;
  transform: translateX(-450px);
}

.bgGift {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  left: 0;
}
.giftIcon {
  position: absolute;
  width: 30px;
  top: 5px;
  left: 50px;
  cursor: pointer;
}

.giftIcon:hover {
  transform: scale(1.1);
}
.ptagGift {
  text-wrap: nowrap;
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 85px;
}

@media screen and (max-width: 1024px) {
  .ptagGift {
    display: none;
  }
  /* --------- */

  .giftParent {
    position: relative;
    width: 50%;
    height: 100%;
    transform: translateX(-350px);
  }

  .bgGift {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: antiquewhite;
    left: 0;
  }
  .giftIcon {
    position: absolute;
    width: 30px;
    top: 5px;
    left: 12px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {
  .ptagGift {
    display: none;
  }
  /* --------- */
  .giftParent {
    display: none;
  }

  .bgGift {
    display: none;
  }
  .giftIcon {
    display: none;
  }
}
@media screen and (max-width: 1220px) {
  .giftParent {
    position: relative;
    width: 50%;
    height: 100%;
    transform: translateX(-350px);
  }
}
